body {
	font-family: Verdana, sans-serif;
	margin-top: 25px;
	max-width: 1024px;
}

h1 {
	margin-top: 19px;
	font-size: 50px;
	color: #666;
	letter-spacing: -0.02em;
}

h2 {
	margin-top: 19px;
	font-size: 25px;
	font-weight: bold;
	color: #f07c17;
	letter-spacing: -0.025em;
}

p {
	font-size: 16px;
	line-height: 2em;
}

ul li {
	line-height: 2.25em;
	letter-spacing: .0175em;
}

.mug {
	padding: 16px 0 33px 0;
}

.box {
	padding: 11px 0 32px 29px;
	border: thin solid #ccc;
}

.list {
	font-size: 14px;
	font-weight: bold;
}