  body{
 	font-family: Verdana, sans-serif;
 	margin-top: 25px;
 	max-width: 1024px;
 }

 h1 {
	font-size: 50px;
	color: #666;
	letter-spacing: -0.02em;
}

h2 {
	font-size: 25px;
	font-weight: bold;
	color: #f07c17;
	letter-spacing: -0.02em;
}

p {
	font-size: 16px;
	line-height: 2;
}

.mug {
	padding-top: 15px;
	padding-bottom: 25px;
}

.features {
	padding-top: 15px;
	padding-left: 15px;
}

.box {
	padding-top: 20px;
	padding-left: 25px;
	padding-bottom: 15px;
	border: thin solid;
	border-color: #ccc;
}

.list {
	line-height: 2;
	font-weight: bold;
}
